
body{
    margin: 0;
    padding: 0;
}
.container{
    min-height: 100vh;
    width: auto;
    /* background-color: var(--lightGreen); */
    /* background-image: url("../../assets//triangles.svg"); */
    background-image: url("./assets/triangles.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: center;
}

:root{
    --lightGreen: #BDE9C8;
    --lightGreen: rgb(189, 233, 200);

    --innerContainerColor: #F8FFF6;

}


p,label,h2,h3,li{
    font-family: "Manjari", sans-serif;
    font-style: normal;

}

/* Global Inner Container*/
.innerContainer{
    background-color: rgba(255,255,255,.7);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255,0.3);

    padding-top: 1%;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h1{
        font-family: "Playfair Display SC", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 4rem;
        font-variant-ligatures: none;
    }


  

    height: 90vh;
    width: 90%;
    border-radius: 1.5rem;
    p{
        font-size: 2rem;
        text-align: center;
    }

    input{
        width: 30%;
        height: 3vh;
        padding: 0.9rem;
        /* padding-left: 2rem; */
        background-color: #ffffff;
        border-style: solid;
        border-radius: 1.5rem;
        text-align: center;
        font-size: 1rem;
        font-family: "Manjari", sans-serif;
        font-style: normal;
    }
    
}


button{
    width: 40%;
    height: 7vh;
    border-radius: 30px;
    border-style: none;
    color: white;
    background-color: #7ED493;
    font-size: 2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #5cbf7e;
    transform: scale(1.05);
}

/*Global checkbox */




