.activityGoals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .selectionGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1rem;

        button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 1rem;
            font-size: 1.5rem;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }
}